body {
  margin: 0;
  padding: 0;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(100, 200, 100);
}

label[for="vardas"] {
  margin-right: 10px;
}
