/* 
  Fundamentals:
    display: flex;
    flex-direction
    flex: 1, 2, ...
    flex-grow:
    flex-basis:
    justify-content
    align-items
  Advanced:
    flex-shrink
    flex-wrap
    align-self
    align-content
    order
*/

#container {
  display: flex;
  background-color: purple;
}

#container > #pirmas {
  width: 300px;
  flex-shrink: 1;
}

#container > div:nth-child(2) {
  flex-shrink: 1;
}

#container > div {
  background-color: orange;
  margin: 10px;
  width: 100px;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 500px;
  height: 100px;
}