table {
  margin-top: 16px;
}

table,
th,
tr,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

tr {
  width: 50%;
  text-align: center;
}

tr:nth-child(even) {
  background-color: lightgray;
}

tr:nth-child(odd) {
  background-color: whitesmoke;
}
