body header {
  background-color: antiquewhite;
  padding: 20px;
  margin: 20px;
  border: 2px solid #52882b;
}

.siauras {
  margin: 20px;
  width: 100px;
  height: 100px;
}

section {
  width: 50%;
}

img {
  /* width: 600px; */
  width: calc(100vw - 16px);
}

hr {
  border: 5px dashed red;
}

/* 1. Hex, RGB */
/* 2. font-size, font-weight */

#pirma {
  background-color: red;
}

:target {
  background-color:bisque;
}